# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = false

[*]

# Change these settings to your own preference
indent_style = tab
indent_size = tab #uses tab_width when set to 'tab'
quote_type = auto
spaces_around_brackets = none
tab_width = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
